.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.modal-overlay.visible {
    opacity: 1;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    transform: scale(0.95);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.modal-content.visible {
    transform: scale(1);
    opacity: 1;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-header h2 {
    font-size: 1.5rem;
    margin: 0;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.event-description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

.event-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.event-details div {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    color: #333;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #c82333;
}

.error-message-details {
    color: #ff4444;
    background-color: #ffe5e5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
}

.guest-select select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.guest-select option {
    color: black;
}

/* Estilo para o botão */
.guest-select button {
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #008006;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.guest-select button:hover {
    background-color: #0056b3;
}

/* Foco no select */
.guest-select select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Placeholder para o option padrão */
.guest-select select option[value=""] {
    color: #aaa;
}